#search-form {
  margin-top: 3rem;
}

#create-section label{
  display: block
}

.search-label, #search-input {
  display: inline-block;
  height: auto;
}

.search-label, {
  margin-bottom: 0.5rem;
}

#search-input, #searchsubmit, {
  border: 0.15rem solid #E78F8E;
  border-radius: 0.188rem;
}

.icon-block a, .icon-block:hover {
  cursor: pointer;
}

.padding-right {
  padding-right: 1.5rem;
}

.pointer {
  cursor: pointer;
}

#searchsubmit {
font-family: 'FontAwesome';
font-size: 2rem;
border-color: #A31621;
vertical-align: sub;
margin-left: 0;
margin: 0;
}

span, #search-input {
  font-size: 1.3rem;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    padding: 1rem;
    width: 100%;
    transition: 0.4s;
    outline: none;
    border-right: 0.5rem;
    border-bottom: 0.5rem;
    border: 0 0.5rem 0.5rem 0 solid #A31621;
    border-radius: 2rem;
    margin: 0.05rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion:hover, button.accordion:focus {
    background-color: #A31621;
    color: #F5F5F5;
    outline: none;
}

button.accordion > span {
  padding-left: 40rem;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 1rem;
}

button > i {
  padding-left: 1rem;
  padding-right: 1rem;
}

button[type="button"].upload-publish-button, button[type="button"].save-button, button[type="button"].clear-button {
  padding: 0.3rem 0.3rem;
  margin-top: 1rem;
}

textarea {
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
  outline: none;
  margin: 0.5rem 0;
}

.low-textarea {
  height: 5rem;
}

.high-textarea {
  height: 10rem;
}

.ing-sup-container{
  margin: 0.5rem;
}

.create-recipe-buttons {
  width: 27% !important;
}

#searchsubmit:hover, .create-recipe-buttons:hover {
  box-shadow: 0 0.8rem 1rem 0 rgba(0,0,0,0.24), 0 1rem 3rem 0 rgba(0,0,0,0.19);
}
.terracotta-background {
  background-color: #E26D5C;
}

.coffee-background {
  background-color: #723D46;
}

.burgundy-background {
  background-color: #472D30;
}

#image-upload {
  width: 60%;
}

input[type="file"], input[type="file"]:focus, input[type="file"]:active {
  color: transparent;
  outline: none;
  margin: 0 auto;
  padding: 1rem;
}

.button-container {
  margin: 1rem 0;
}

.card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 21rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
}

.card-container p {
  margin: 0 0.25rem;
}

.card-img {
  width: 100%;
  height: 15rem;
  padding-bottom: 0.25rem;
}

#page {
  margin: 2rem;
}

.pagination a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
}

.pagination a:hover {
  background-color: #F2CCC3;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: none;
}

/* Style the buttons inside the tab */
div.tab button {
    border: none;
    outline: none;

    padding: 0.6rem 0.8rem;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #723D46;
    color: #F5F5F5;
}

/* Style the tab content */
.tabcontent {
    padding: 0.25rem 0.75rem;
    border: none;
    box-shadow:  0 0.2rem 0.3rem 0.35rem rgba(0, 0, 0, 0.4);
}

#instructions ul li {
  list-style: none;
}
