#search-form {
  margin-top: 3rem;
}

#create-section label {
  display: block;
}

.search-label, #search-input {
  display: inline-block;
  height: auto;
}

.search-label, {
  margin-bottom: 0.5rem;
}

#search-input, #searchsubmit, {
  border: 0.15rem solid #E78F8E;
  border-radius: 0.188rem;
}

.icon-block a, .icon-block:hover, .pointer {
  cursor: pointer;
}

.padding-right {
  padding-right: 1.5rem;
}

#searchsubmit {
font-family: 'FontAwesome';
font-size: 2rem;
border-color: #A31621;
vertical-align: sub;
margin-left: 0;
margin: 0;
}

span, #search-input {
  font-size: 1.3rem;
}

button.accordion, div.tab button, .card,  {
  transition: 0.3s;
}

button.accordion,button.accordion:hover, button.accordion:focus, textarea, input[type="file"], input[type="file"]:focus, input[type="file"]:active, div.tab button  {
  outline: none;
}


/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
  width: 100%;
  border-right: 0.5rem;
  border-bottom: 0.5rem;
  border: 0 0.5rem 0.5rem 0 solid #A31621;
  border-radius: 2rem;
  margin: 0.05rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion:hover, button.accordion:focus {
  background-color: #A31621;
  color: #F5F5F5;
}

button.accordion > span {
  padding-left: 40rem;
}

/* Style the accordion panel, hidden by default */
.panel {
  padding: 0 1rem;
}

button > i {
  padding-left: 1rem;
  padding-right: 1rem;
}

textarea {
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
  margin: 0.5rem 0;
}

.low-textarea {
  height: 5rem;
}

.high-textarea {
  height: 10rem;
}

.ing-sup-container{
  margin: 0.5rem;
}

.create-recipe-buttons {
  width: 27% !important;
}

#searchsubmit:hover, .create-recipe-buttons:hover {
  box-shadow: 0 0.8rem 1rem 0 rgba(0,0,0,0.24), 0 1rem 3rem 0 rgba(0,0,0,0.19);
}
.terracotta-background {
  background-color: #E26D5C;
}

.coffee-background {
  background-color: #723D46;
}

.burgundy-background {
  background-color: #472D30;
}

#image-upload, #ingred-supp img {
  width: 60%;
}

input[type="file"], input[type="file"]:focus, input[type="file"]:active {
  color: transparent;
  margin: 0 auto;
}

.button-container {
  margin: 1rem 0;
}

.card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
  height: 22rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
}

.card-container p {
  margin: 0 0.25rem;
}

.card-img {
  width: 100%;
  padding-bottom: 0.25rem;
}

/* Style the tab */
div.tab {
  overflow: hidden;
}

div.tab, div.tab button, .tabcontent {
  border: none;
}

div.tab button {
  padding: 0.6rem 0.8rem;
}

div.tab button:hover, .active{
  background-color: #723D46;
  color: #F5F5F5;
}

/* Style the tab content */
.tabcontent {
  padding: 0.25rem 0.75rem;
  box-shadow:  0 0.2rem 0.3rem 0.35rem rgba(0, 0, 0, 0.4);
}

#browse-section ul {
  margin: 0;
  padding-left: 1.7rem;
  padding-bottom: 1rem;
}

#browse-section ul li {
  list-style: none;
  margin: 0;
}

#ingred-supp img, input[type="file"], input[type="file"]:focus, input[type="file"]:active {
  padding: 1rem;
}

#ingred-supp img, .card img {
  height: 15rem;
}

#search-span {
  display: none;
}

@media only screen and (max-width: 500px) {
  #basic-clear, #ingredients-clear, #clear-instructions, #submit-create, #cancel-create, #delete-recipe {
    padding: 0.2rem;
    font-size: 90%
  }
}

@media only screen and (min-width: 641px) {
  #search-span {
    display: inline-block;
  }

  #home2, #search2, #create2, #edit2, #logout2 {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  #home2, #search2, #create2, #edit2, #logout2 {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
  }
  #home, #search, #create, #edit, #logout {
    display: none;
  }
}
